*.iml
.gradle
/local.properties
/.idea/caches
# https://github.com/github/gitignore/blob/main/Android.gitignore
/.idea/deploymentTargetDropDown.xml
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
